<div class="d-block bgLightBlue pb-4 pt-4">
  <section class="container bg-white card card-body shadow shadow-sm">
    <p class="font-weight-lighter text-center bg-light pb-2 h3">
      <strong>Create Tuition</strong>
    </p>

    <form class="container" method="POST" action="/api/tuition">
      <fieldset class="fieldset">
        <div class="form-group">
          <label class="col-md-12 control-label" for="salary">Salary</label>
          <div class="col-md-12">
            <input
              type="number"
              id="salary"
              name="salary"
              class="form-control"
              required
            />
            <small class="text-secondary">
              The salary will be shown to all tutors.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label" for="area">Area</label>
          <div class="col-md-12">
            <input
              type="text"
              id="area"
              name="area"
              class="form-control"
              required
            />
            <small class="text-secondary">
              The area will be shown to all tutors.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label" for="subject">Subject</label>
          <div class="col-md-12">
            <input
              type="text"
              id="subject"
              name="subject"
              class="form-control"
              required
            />
            <small class="text-secondary">
              The subject will be shown to all tutors.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label" for="class">Class</label>
          <div class="col-md-12">
            <input
              type="text"
              id="class"
              name="class"
              class="form-control"
              required
            />
            <small class="text-secondary">
              The class will be shown to all tutors.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label" for="medium">Medium</label>
          <div class="col-md-12">
            <select
              class="form-control"
              name="medium"
              id="medium"
              aria-label="Prefered medium"
            >
              <option value="Bangla" selected>Bangla</option>
              <option value="English">English</option>
            </select>
            <small class="text-secondary">
              Select the medium.
            </small>
          </div>
        </div>
        <div class="form-group">
          <label class="col-md-12 control-label" for="gender">Prefered gender</label>
          <div class="col-md-12">
            <select
              class="form-control"
              name="gender"
              id="gender"
              aria-label="Prefered gender"
            >

              <option value="Any" selected>Any</option>
              <option value="Male">Male</option>
              <option value="Female">Female</option>
            </select>
            <small class="text-secondary">
              Prefered gender.
            </small>
          </div>
        </div>

        <h5 class="text-center">You will be able to add requirements after you
          have created tuition!</h5>

      </fieldset>
      <hr />
      <div class="form-group">
        <div class="text-center">
          <input
            class="btn btn-primary"
            type="submit"
            name="create-submit"
            value="Create Tuition"
          />
          <a
            href="/dashboard"
            class="btn btn-outline-danger px-3 ml-2"
          >Cancel</a>
        </div>
      </div>
    </form>
  </section>
</div>