<div class="container-fluid bgLightBlue pb-md-4 pt-5 pb-0">
  <div class="d-block">
    <section class="container bg-white card card-body shadow shadow-sm">
      <p class="font-weight-lighter text-center bg-light py-2 mb-4 h3">
        <strong>Change Password</strong>
      </p>

      <form class="container" action="/api/password" method="POST">
        <fieldset class="fieldset pt-4 pb-2">
          <h3 class="font-weight-lighter textBlue">Password</h3>
          <div class="form-group">
            <label class="col-md-12 col-sm-3 col-xs-12 control-label"><i
                class="fas fa-key pr-2"
              ></i>Current Password</label>
            <div class="col-md-12 col-sm-9 col-xs-12">
              <input type="password" name="passwordOld" class="form-control" />
              <small class="text-secondary">Your current password</small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-sm-3 col-xs-12 control-label"><i
                class="fas fa-keyboard pr-2"
              ></i>New Password</label>
            <div class="col-md-12 col-sm-9 col-xs-12">
              <input type="password" name="password" class="form-control" />
              <small class="text-secondary">Give your new password</small>
            </div>
          </div>
          <div class="form-group">
            <label class="col-md-12 col-sm-3 col-xs-12 control-label"><i
                class="fas fa-redo-alt pr-2"
              ></i>Repeat New Password</label>
            <div class="col-md-12 col-sm-9 col-xs-12">
              <input type="password" name="password2" class="form-control" />
              <small class="text-secondary">Again type your new password</small>
            </div>
          </div>
        </fieldset>
        <hr />
        <div class="form-group">
          <div class="text-center">
            <input
              class="btn btn-primary"
              type="submit"
              value="Update Password"
              name="pass-submit"
            />
          </div>
        </div>
      </form>
    </section>
  </div>
</div>